<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	</head>
	<body ng-app="myApp">
		
		<div ng-controller="myController2" ng-init="">
			<p>Name:   <input type="text" ng-model="name_model"></p>
			<h1>Hello {{name2}}</h1>
			<h1>Hello {{name_model}}</h1>
			<ul>
				<li ng-repeat="x in names">
					{{ x.name }}
				</li>
			</ul>
		</div>

		<div ng-controller="myController">
			<ul>
				<li ng-repeat="x in person track by $index">
					{{ x | uppercase }}  {{ lastname }}
				</li>
			</ul>
		</div>

		<script>
			var app=angular.module('myApp',[]);
			
			app.controller('myController',function($scope,$rootScope){
				$scope.person=["yeqiang","ye","qiang","yeqiang"];
				$rootScope.lastname="lastname";
			});
			app.service('hex',function(){
				this.myFunc=function(x){
					console.log(x);
					return x.toString(16);
				}
			});
			app.controller('myController2',function($scope,$location,$http){
				$scope.names=[{name:'ye'},{name:'qiang'},{name:"yeqiang"}];
				// $test=$scope.name_model;
				$http.get(Customers_JSON.php).success(function(response){
					$scope.name2=response.records;
				});
				
			});

		</script>
		
		
	</body>
</html>